<!-- Newsletter -->
<section class="early-adopter center main-section wow fadeIn">
  <h2>Subscribe to our newsletter!</h2>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <p>We send you news about Trailblazer's components, posts, events and rants straight to your inbox, every 2-3 months.</p>
    </div>
  </div>

  <form action="https://trailblazerb.us8.list-manage.com/subscribe/post?u=bbe5021ab6fbdc94a16f0d036&amp;id=a69f6e4652" method="post" class="newsletter dark-bg" target="_blank">
    <input type="email" name="EMAIL" class="form-control" placeholder="your@email.com" required>
    <button type="submit" class="btn btn-primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Subscribe</button>
  </form>
</section>
