<span class="divider"></span>

<h3>About Us</h3>

<p>
  Trailblazer GmbH is the software company behind Trailblazer. Based in Berlin,
  but with our consultants and gem developers around the world, we offer
  consulting and training for all things Trailblazer. Our company reinvests our
  funds straight back into developing all Trailblazer gems, better documentation
  and support, plus building up a nice team of fantastic people to help you with
  Trailblazer.
</p>

<p>
  Trailblazer is in use in thousands of production applications. Our patterns
  have evolved over a decade of engineering, our gems are mature and
  battle-tested.
</p>

<p>And: we will never stop innovating.</p>

<span class="divider"></span>

<h4>Mission</h4>

<p>
  While Trailblazer offers you abstraction layers for all aspects of Ruby On
  Rails, it does not missionize you. Wherever you want, you may fall back to the
  fat models, monolithic controllers, global helpers, etc. This is not a bad
  thing, but allows you to step-wise introduce Trailblazer's encapsulation in
  your app without having to rewrite it.
</p>

<p>
  Trailblazer is all about structure. It helps re-organize existing code into
  smaller components where different concerns are handled in separated classes.
</p>

<p>
  Again, you can pick which layers you want. Trailblazer doesn't impose
  technical implementations, it offers mature solutions for recurring problems
  in all types of Rails applications.
</p>

<p>
  Trailblazer is no "complex web of objects and indirection". It solves many
  problems that have been around for years with a cleanly layered architecture.
  Only use what you like. And that's the bottom line.
</p>

<span class="divider"></span>

<h4>Team</h4>

<p>
  Trailblazer is maintained by a
  <a href="https://github.com/orgs/trailblazer/people" target="_blank"
    >small team of developers on GitHub</a
  >. We’re actively looking to grow this team and would love to hear from you if
  you’re excited about our gems, high-level abstractions and improving our
  documentation.
</p>

<span class="divider"></span>

<div>
  <h4>Impressum</h4>
  <p>Angaben gemäß § 5 TMG</p>

  <div class="callout">
    <p>
      <strong>Trailblazer GmbH</strong><br />
      Boddinstr. 57<br />
      12053 Berlin<br />
      GERMANY
    </p>
  </div>

  <p>Vertreten durch:</p>

  <p>Nick Sutterer</p>

  <ul>
    <li>Registereintrag: Eintragung im Handelsregister.</li>
    <li>Registergericht: Berlin-Charlottenburg</li>
    <li>Registernummer: HR B 190776</li>
    <li>Umsatzsteuer-ID: gemäß §27a Umsatzsteuergesetz: DE314332049</li>
    <li>Steuernummer: 27/563/50103</li>
  </ul>

  <p>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>

  <p>
    Nick Sutterer<br />
    Boddinstr. 57<br />
    12053 Berlin
  </p>
</div>
